@tailwind base;
@tailwind components;
@tailwind utilities;

.tabs a .tab:after {
  content: "";
  position: absolute;
  background-color: #ca445a;
  height: 3px;
  width: 0px;
  left: 0px;
  bottom: -4px;
  border-radius: 30px;
  transition: all 1s ease-in-out;
}
.tabs a .tab:hover:after {
  width: 100%;
}

.about-Tab .left-Icon,
.about-Tab .right-Icon {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 3px;
  top: -2px;
  border-radius: 40px;
  background-color: #000;
  transition: all 0.5s ease-in-out;
}
.about-Tab .left-Icon {
  left: 4px;
  transform: rotate(45deg);
}
.about-Tab .right-Icon {
  transform: rotate(-45deg);
}
/* on active mode */
.about-Tab.active .left-Icon {
  left: 4px;
  transform: rotate(-45deg);
}
.about-Tab.active .right-Icon {
  transform: rotate(45deg);
}

.hero-banner-container {
  width: 100%;
}

.slick-prev,
.slick-next {
  background-color: #000 !important;
}
.slick-slider .slick-prev {
  position: absolute;
  left: 45px;
  z-index: 999;
}
.slick-slider .slick-next {
  position: absolute;
  right: 45px;
  z-index: 999;
}

/* contact form */
/* input,
textarea {
  @apply shadow-md px-3 py-2 border border-slate-300;
}
form > div {
  @apply flex flex-col gap-2;
} */
/* term and services */

.ts-boxes-cont{
  @apply shadow-md px-4 py-3 border border-slate-300 mt-3;
}
.ts-boxes-cont h2{
  @apply font-bold text-xl mb-2;
}

/*  addTeam-Form */

.addTeam-Form label, .service-add-from label{
  @apply font-bold text-lg text-gray-800 my-2;
}

.addTeam-Form input, .service-add-from input{
  @apply border-2 border-gray-200 shadow-md shadow-gray-300 w-full px-8 py-3 rounded-md outline-none;
}

.addTeam-Form textarea, .service-add-from textarea{
  @apply border-2 border-gray-200 shadow-md shadow-gray-300 w-full px-8 py-3 rounded-md outline-none max-h-44;
}